<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="com.jev.probe.ApiUsageActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="com.jev.probe.OverlayDemoActivity"
            android:exported="true" />
        <activity
            android:name="com.jev.probe.WeChatOcrDemoActivity"
            android:exported="true" />
        <activity
            android:name="com.jev.probe.AdaptiveModelDemoActivity"
            android:exported="true" />
        <activity
            android:name="com.jev.probe.V23FeatureDemoActivity"
            android:exported="true" />
    </application>
</manifest>
